:host {
  width: 100%;
  height: 100%;

  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    min-height: calc(100% - 16px);
  }

  .toolbar {
    flex: 0 0 auto;
    background: linear-gradient(0deg, #5a7be1, #cf4bb1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 18px;
    font-weight: bold;

    h4 {
      margin-bottom: 4px;
      font-weight: 600;
    }
  }

  .main-content {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-content: baseline;
    overflow-y: auto;
    padding-bottom: 16px;
    gap: 8px;

    & > * {
      width: 275px;
      height: 285px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .add-new {
      display: flex;

      .add-new-item {
        width: 250px;
        height: 250px;
        border: 1px solid rgba(207, 75, 177, 0.75);

        mat-card-content {
          flex: 3;
          align-content: center;
          justify-content: center;
          background: linear-gradient(45deg, #5a7be1, #cf4bb1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          font-size: 18px;
          font-weight: bolder;
        }

        mat-card-actions {
          flex: 1;
          justify-content: center;

          button {
            box-shadow: none;
            border-color: rgba(207, 75, 177, 0.75);
          }
        }
      }
    }
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    color: #1a1a1a;

    .empty-state-image {
      width: 200px;
      margin-bottom: 1rem;
      border-radius: 20px;
    }

    h2 {
      margin: 1rem 0 0.5rem;
      font-size: 1.5rem;
    }

    p {
      color: #555;
      max-width: 400px;
      margin-bottom: 2rem;
    }
  }
}
