services:
  client:
    build:
      context: ../client/web
    container_name: client
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server

  server:
    build:
      context: ../server
    container_name: server
    restart: unless-stopped
    environment:
      DATABASE_URL: "postgres://admin:admin@postgres:5432/aaa"
      HTTP_PORT: "8080"
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "aaa"
    ports:
      - "5432:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d/