services:
  server:
    build:
      context: ../server
    container_name: server
    restart: unless-stopped
    environment:
      DATABASE_URL: "postgres://admin:admin@postgres:5432/aaa"
      HTTP_PORT: "8080"
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "aaa"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d/
    ports:
      - "5432:5432"

