<div class="flex-container">
  <div class="toolbar">
    <h4>Dashboards management</h4>
    <p>Set up the required parameters to create a new dashboard and bring together key metrics in one visual
      workspace.</p>
  </div>

  <div class="main-content">
    <div class="left-panel" id="dashboard" cdkDropList (cdkDropListDropped)="drop($event)">
      <gridster [options]="config" class="gridster">
        <gridster-item *ngFor="let item of dashboard" [item]="item">
          <app-echart-preview [chartId]="item['chartId']" (deleteChart)="onChartDelete(item)"></app-echart-preview>
        </gridster-item>
      </gridster>
    </div>

    <div class="right-panel">
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput required autocomplete="off" [(ngModel)]="name" placeholder="Dashboard name"/>
        </mat-form-field>
      </div>

      <div class="charts" id="charts" cdkDropList [cdkDropListData]="charts" cdkDropListConnectedTo="dashboard">
        <mat-card *ngFor="let chart of charts" class="chart-item" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{ chart.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/{{chart.type}}.svg" alt="{{chart.type}}">
          </mat-card-content>
        </mat-card>
      </div>

      <div class="actions">
        <button mat-fab class="save-fab" color="primary" (click)="onDashboardSave()"
                [disabled]="!dashboard.length || !name">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
