:host {
  mat-sidenav-container {
    height: 100vh;
    width: 100vw;
    display: flex;

    mat-sidenav {
      background: linear-gradient(45deg, #e8f3fa, #faebf7);
      transition: width 0.3s ease;
      position: relative;
      border-radius: 0;
      width: 256px;

      &.collapsed {
        width: 64px;

        .nav-actions.logo img {
          width: 65% !important;
        }

        mat-nav-list {
          ::ng-deep.mat-mdc-list-item-unscoped-content {
            justify-content: center;

          }
        }
      }

      .nav-actions {
        display: flex;
        justify-content: center;

        &.logo img {
          width: 128px !important;
          height: 64px !important;
          cursor: pointer;
        }
      }


      mat-nav-list {
        a:hover, a:focus {
          background-color: #f7f9fb !important;
          border-radius: 0;
        }

        ::ng-deep.mat-mdc-list-item-unscoped-content {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .active {
          ::ng-deep.mat-mdc-list-item-unscoped-content {
            font-weight: 900 !important;
            color: #5a7be1;
          }
        }
      }
    }

    mat-sidenav-content {
      flex: 1;
      width: 100%;
      height: 100%;
      margin-left: 0 !important;
      padding: 0 24px !important;

      .content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
