:host {
  .card-container {
    perspective: 1000px;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
  }

  .card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(224, 229, 249, 0.7), 0 8px 16px rgba(245, 215, 238, 0.6);
  }

  .card {
    background: linear-gradient(45deg, #e8f3fa, #faebf7);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: relative;
    flex: 1;
  }

  .card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
  }

  .card-title {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(45deg, #5a7be1, #cf4bb1);
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .delete-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .card:first-child {
    transform: rotateY(0deg);
  }

  .confirmation-card {
    transform: rotateY(180deg);
    background: linear-gradient(45deg, #cf4bb1, #5a7be1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container.flipped .card:first-child {
    transform: rotateY(-180deg);
  }

  .card-container.flipped .confirmation-card {
    transform: rotateY(0deg);
  }

  .confirmation-content {
    text-align: center;
    color: white;
  }

  .confirmation-content p {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
  }

  .confirmation-content button {
    margin: 0 8px;
  }
}
