:host {
  width: 100%;
  height: 100%;

  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    height: calc(100% - 16px);
  }

  .toolbar {
    flex: 0 0 auto;
    background: linear-gradient(0deg, #5a7be1, #cf4bb1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 18px;
    font-weight: bold;

    h4 {
      margin-bottom: 4px;
      font-weight: 600;
    }
  }
}

.main-content {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0 0 16px;
}

.left-panel {
  flex: 1;

  ::ng-deep.gridster {
    background-color: transparent;
    border: 1px solid rgba(207, 75, 177, 0.45);
    border-radius: 4px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(0deg, #7d95eb, #e573c7);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(0deg, #6b84dd, #d95ab7);
    }
  }
}
