<div class="card-container">
  <h1 class="card-title">Discover the story behind your data</h1>
  <div class="card-grid">
    <div class="card-block">
      <mat-card class="card-style"></mat-card>
      <mat-card class="second-card-style">The first step in building meaningful insights is gathering your data from the right places.
        With our platform, you can easily connect to multiple types of sources. These connections allow you to centralize all your raw data into one place,
        making it ready for transformation, exploration, and visualization.
      </mat-card>
    </div>

    <div class="card-block">
      <mat-card class="card-style"></mat-card>
      <mat-card class="second-card-style">Once your data sources are connected, the next step is to explore and organize what you’ve imported.
        With our platform, you can browse, search, and filter datasets to find exactly what you need.
        This unified view helps you spot relevant fields, validate data, and prepare it for visualization and analysis.
      </mat-card>
    </div>

    <div class="card-block">
      <mat-card class="card-style"></mat-card>
      <mat-card class="second-card-style">With your datasets organized, you can now bring your data to life through visual storytelling.
        Our platform allows you to create a variety of charts for any use case. By turning raw data into visual insights, you can more easily identify patterns, track performance, and communicate results effectively.
      </mat-card>
    </div>

    <div class="card-block">
      <mat-card class="card-style"></mat-card>
      <mat-card class="second-card-style">After creating charts, it’s time to bring them together into personalized dashboards.
        Our platform lets you combine multiple visualizations in one view, tailored to your goals.
        Dashboards help you track key metrics, compare trends, and present insights clearly and effectively.
      </mat-card>
    </div>
  </div>
</div>

